<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Book DriveTest</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <!-- Display Dashboard link only if the user is a Driver -->
            <% if (isAuthenticated && user.userType === 'Driver') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
            <% } %>
            
            <!-- Adding if else code so that if user is logged in, they see everything and if not, they will be asked to login. -->
            <!-- Making sure that if the user type is Admin then only they see the appointment page otherwise not. -->
            <% if (isAuthenticated) { %>
                <% if (user.userType === 'Driver') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/g2">G2 Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/g">G Test</a>
                    </li>
                <% } else if (user.userType === 'Admin') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/appointment">Appointment Management</a>
                    </li>
                <% } else if (user.userType === 'Examiner') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/examiner">Examiner Page</a>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>

<!-- If the userType is Driver - They will see /dashboard, /g2, /g, /logout  -->
<!-- If the userType is Admin - They will see /appointment /logout  -->
<!-- If the userType is Examiner - They will see /examiner /logout  -->
